@model AngelBd.Models.Admission

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Admission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherOccupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherOccupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherOccupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherOccupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParmanentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParmanentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypesOfAutism)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypesOfAutism)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Describe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Describe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
